<footer class="page-footer orange darken-3">
  <div class="footer-copyright">
    <div class="container">
     By <a class="orange-text text-lighten-3 modal-trigger" href="#config">BombayPizza Group</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/init.js"></script>
